tbody td{
  font-size: .85em;
}

.card {
  height: var(--table-height);
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto;
  width: fit-content;

  @media (min-width: 890px) {
    min-width: 900px;
  }
}

#header {
  top: 0;
}

.loading-row{
  &-id{
    width: 55px;
  }
  &-name{
    width: 288px;
  }
  &-country{
    width: 148px;
  }
  &-continent{
    width: 120px;
  }
  &-coordinates{
    width: 158px;
  }
}

.sortable{
  &:hover{
    cursor:pointer;
  }
  & span svg{
    height: 11px;
    &:hover{
      transform: scale(1.2);
    }
  }
}

.sticky {
  position: sticky;
}

.table{
  min-width: 100%;
  max-height: var(--table-height);
}


@import "./node_modules/bulma/sass/elements/table.sass";