tbody td{
  font-size: .85em;
}

.card {
  height: var(--table-height);
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto;
  margin-top: 1rem;
  width: fit-content;

  @media (max-width: 425px) {
    margin-top: 0;
  }
  @media (min-width: 890px) {
    min-width: 900px;
  }
}

.dropdown-content {
  max-width: fit-content;
  text-align: end;
  margin-left: auto;
  padding-bottom: 0;
  & .dropdown-item {
    padding-right: 15px;
  }
}

#header {
  top: 0;
  & div.level {
    width: 100%;
  }
}

.loading-row{
  &-id{
    width: 55px;
  }
  &-name{
    width: 288px;
  }
  &-country{
    width: 148px;
  }
  &-continent{
    width: 120px;
  }
  &-coordinates{
    width: 158px;
  }
}

.sortable{
  & span svg{
    height: 11px;
    &:hover{
      transform: scale(1.2);
      cursor:pointer;
    }
  }
}

#pagination {
  z-index: 10;
}

#sort-dropdown-button {
  border-radius: 15px;
  background-color: inherit;
  font-weight: 600;
  &:focus {
    border-color: none;
    box-shadow: none;
  }
}

.table{
  min-width: 100%;
  max-height: var(--table-height);
  @media (max-width: 780px) {
    font-size: smaller;
  }
}

.th-column {
  z-index: 1;
}


@import "./node_modules/bulma/sass/elements/table.sass";