.card {
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto;
  width: fit-content;
}

.sticky {
  position: sticky;
}

tbody td{
  font-size: .85em;
}

$table-head-cell-color: blue;

@import "./node_modules/bulma/sass/elements/table.sass";